:global{
    @import "~gridicarus/dist/gridicarus.min.css";
    @import "~basscss/css/basscss.css";
    @import "~basscss-colors/css/colors.css";
    @import "~basscss-btn/css/btn.css";
    @import "~basscss-background-colors/css/background-colors.css";
    @import "~basscss-border-colors/css/border-colors.css";
}

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

// VARIABLES
$t-time: 100ms;
$silver: #DDDDDD;

$link-light:    #ffffff;
$link-regular:  #0074D9;
$link-dark:     #001F3F;


* {
    font-family: $font-stack;
}
a {
    transition: $t-time;
    text-decoration: none;
    color: $link-regular;
    &:hover {
        color: $link-dark;
        transition: $t-time;
    }
}
code {
    background-color: $silver;
    opacity: 0.7;
    font-family: "Roboto Mono", monospace;
    padding-left: 4px;
    padding-right: 4px;
    text-decoration: none;
}
pre {
    opacity: 0.7;
    font-family: "Roboto Mono", monospace;
    padding: 4px;
    text-decoration: none;
}

.toc {
    > li {
        font-size: .8rem;
        font-weight: 500;
        color: $link-dark;
        transition: $t-time;
        &:hover {
            color: $link-regular;
            transition: $t-time;
        }
    }
}

.nomargin {
    margin: 0;
    padding: 0;
}

.navlink {
    transition: $t-time;
    &:hover {
        color: $link-light;
        transition: $t-time;
    }
}

.footlink {
    transition: $t-time;
    &:hover {
        color: $link-regular;
        transition: $t-time;
    }
}

.example {
    border-right: 1px solid $silver;
}
.example-text {
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
