@charset "utf-8";

// mrms colors
$color-navy:    #001f3f !default;
$color-blue:    #0074D9 !default;
$color-aqua:    #7FDBFF !default;
$color-teal:    #39CCCC !default;
$color-olive:   #3D9970 !default;
$color-green:   #2ECC40 !default;
$color-lime:    #01FF70 !default;
$color-yellow:  #FFDC00 !default;
$color-orange:  #FF851B !default;
$color-red:     #FF4136 !default;
$color-maroon:  #85144b !default;
$color-fuchsia: #F012BE !default;
$color-purple:  #B10DC9 !default;
$color-black:   #111111 !default;
$color-grey:    #AAAAAA !default;
$color-gray:$color-grey !default;
$color-silver:  #DDDDDD !default;
$color-white:   #FFFFFF !default;

// measurements
$full: 1;

// h-style incremented sizing
$size-1: 3rem       !default;
$size-2: 2.5rem     !default;
$size-3: 2rem       !default;
$size-4: 1.5rem     !default;
$size-5: 1.25rem    !default;
$size-6: 1rem       !default;
$size-7: 0.75rem    !default;
$size-8: 0.50rem    !default;
$size-9: 0.25rem    !default;

// standard breakpoints (currently unused)
$breakpoints: (
    "mobile":       768px,
    "tablet":       769px,
    "desktop":      1024px,
    "widescreen":   1216px,
    "fullhd":       1408px
) !default;
