@charset "utf-8";

// allow spanning up to 10 columns
.h-span {
    &1  { grid-column-end: span 1;   }
    &2  { grid-column-end: span 2;   }
    &3  { grid-column-end: span 3;   }
    &4  { grid-column-end: span 4;   }
    &5  { grid-column-end: span 5;   }
    &6  { grid-column-end: span 6;   }
    &7  { grid-column-end: span 7;   }
    &8  { grid-column-end: span 8;   }
    &9  { grid-column-end: span 9;   }
    &10 { grid-column-end: span 10;  }
}

// allow up to 10 children of parent grid

// both grid-child1-10 and #1-10 integrations 
// for flexibility 
.grid-child {
    @for $el from 1 to 11 {
    &#{$el} {
        order: #{$el};
        }
    }
} @for $el from 1 to 11 {
	.\##{$el} {
		order: #{$el};
	}
}